[core]
    autocrlf = false
    editor = vim
    quotepath = false
    precomposeUnicode = true
    excludesfile = ~/.gitignore
[push]
    default = simple
[include]
    path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
